/* Overpass Mono Regular (latin) */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/OverpassMono-Regular.woff2') format('woff2');
  unicode-range: U+000-5FF; /* Basic Latin */
}

/* Overpass Mono Bold (latin) */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/OverpassMono-Bold.woff2') format('woff2');
  unicode-range: U+000-5FF;
}
